useDynLib(DPpackagemod)

import(MASS)
import(nlme)
import(splines)
import(survival)

export( 
        
        DPcdensity,
        DPcdensity.default   
        
)


importFrom(graphics, plot)

## register S3 methods

S3method(print, DPcdensity)
S3method(plot, DPcdensity)
S3method(summary, DPcdensity)
S3method(print, summaryDPcdensity)
